@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">SIGN FIX ANALYTICS</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" align="center">
        <h2>Get more Business Exposure</h2>
        <p>Sign Fix is Dallas Based Analytics Startup that helps generate business traffic by stragetic sign placement.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4"  align="center">
        <h2>Real Time Analytics</h2>
        <p>Lorem ipsum dolor sit amet, sit lorem nonumy ei. Vis legimus eligendi id. Congue explicari no ius, mel natum iudico at. Porro facete nominavi mea ut, ei eros aliquam salutandi sed. Sit pericula patrioque cu. Nullam volutpat nam no.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Iot augmented reality marketing </h2>
        <p>Lorem ipsum dolor sit amet, sit lorem nonumy ei. Vis legimus eligendi id. Congue explicari no ius, mel .</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>