
@{
    ViewBag.Title = "PlaceOrder";
}

<p>
    <br>
    <div align="center" >
        <h2>DO You need to Order Signs?</h2>
    </div>
    </br>
</p>


<p>
    <div align="center">
        <input type="submit" value="Yes,I need to order signs" /> @*goes to next page newsignpacement*@
        <input type="submit" value="No,I have signs already" />
    </div>
</p>
@*Do you need to Order Signs*@